<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java-tricy-leagal-declarations/src/main/java/com/rpsoft/test/legal/declarations/interfaces/variables/InterfaceValiableDeclarationsImpl.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rpsoft.test.legal.declarations.interfaces.variables.InterfaceValiableDeclarationsImpl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java-tricy-leagal-declarations"/>
</launchConfiguration>
